/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stylish", sans-serif;
  font-size: 16px;
  color: #333; /* Changed text color to a darker gray */
  background: #f5f5f5; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  position: relative;
  width: 30%;
  max-width: 400px;
  border-radius: 15px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
  background: #fff; /* White background */
}

/* Improved button styles */
button:hover,
button.operator:hover {
  background: #ddd; /* Light gray on hover */
  transition: background 0.2s ease-in-out;
}

button {
  border: none;
  background: #f0f0f0; /* Light gray background */
  width: 100%;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Stylish", sans-serif;
  transition: background 0.2s ease-in-out;
  color: #444; /* Dark gray text color */
}

button.operator {
  background: #ff6b6b; /* Red for operators */
  color: #fff; /* White text color */
}

.display {
  text-align: right;
  font-size: 32px; /* Increased font size for a bigger display */
  margin-bottom: 10px;
  padding: 12px; /* Increased padding for better visibility */
  background: #f0f0f0;
  height: 55px;
  border: none;
  color: #444;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.operator {
  grid-column: 4/5;
}

input {
  width: 100%;
  height: 30px;
  padding: 8px;
  text-align: right;
  background: #f0f0f0;
  border: none;
  color: #444;
}

.equals {
  grid-column: span 2;
}

.delete-all,
.equals {
  background: #6cc1d0; /* Light blue */
  color: #fff; /* White text color */
}

.banner {
  grid-column: span 2;
  text-align: center;
  font-size: 20px;
  color: #555; /* Dark gray text color */
}

/* Added media query for smaller screens */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    transform: none;
  }

  .calculator {
    width: 80%;
  }
}
