            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Stylish';
                font-size: 200%;
                color: solid black;
                background: rgb(172, 139, 202);
            }
            
            .calculator {
                position: relative;
                width: 40%;
                border-radius: 15px;
                margin: auto;
                margin-top: 10%;
                padding: 20px 20px 40px 20px;
                box-shadow: 10px 10px 5px rgb(230, 210, 125);
                background: lightcyan;
            }
            
            button:hover,
            button.operator:hover {
                background: rgb(192, 190, 190);
            }
            
            button {
                border: none;
                background: lightgoldenrodyellow;
                width: 100%;
                height: 80px;
                cursor: pointer;
                font-size: 70%;
                font-family: 'Stylish';
            }
            
            button.operator {
                background: lightcoral;
            }
            
            .display {
                text-align: right;
                font-size: 120%;
            }
            
            .calc-buttons {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
            }
            
            .operator {
                grid-column: 4/4;
            }
            
            input {
                width: 100%;
                height: 50%;
                margin-bottom: 3%;
                padding: 8%;
                text-align: right;
                background: lightgoldenrodyellow;
                border: none;
            }
            
            .equals {
                grid-column: 3/5;
            }
            
            .delete-all,
            .equals {
                background: lightblue;
            }
            
            .banner {
                grid-column: 2/4;
                text-align: center;
                font-size: 55%
            }